<ul>
    <li *ngFor="let food of foods">
        <img src="{{food.imageUrl}}">
        <div class="content">
            <div class="name">
                {{food.name}}
            </div>
            <span class="favourite {{food.favorite?'':'not'}}">
                `♡
            </span>
            <!-- <star-rating [starType]="'svg'" [rating]="2.63" size ="20px"></star-rating> -->
           <div class="product-item-footer">
            <div class="origins">
                <span *ngFor="let origin of food.origins">
                    {{origin}}
                </span>
            </div>
            <div class="cook-time">
                <span>
                    🕐
                </span>
                {{food.cooktime}}
            </div>
           </div>
           <div class="price">
            <span>
                {{food.price|currency}}
            </span>
           </div>

        </div>
    </li>
</ul>
 